################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.tlog
*.log
*.obj
*.pdb
*.idb
*.exe
*.ilk
*.txt
/TCPServer/.vs/TCPServer/v16
