################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TCPServer/.vs/TCPServer/v16/Browse.VC.opendb
